@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply font-cairo bg-dark-900 text-white;
  }

  html {
    direction: rtl;
  }
}

@layer utilities {
  .swiper-pagination-bullet {
    @apply bg-white/50;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary;
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
